/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* body {
    font-family: 'Inter', sans-serif; 
} */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Glassmorphism */
.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

/* Input Styling */
.glass-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    color: white;
    outline: none;
    transition: all 0.3s;
}

.glass-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.glass-input:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px rgba(20, 184, 166, 0.7);
}

/* Social Button */
.social-btn {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 8px;
    transition: all 0.3s;
}

/* Button Glow Effect */
button:hover {
    box-shadow: 0px 0px 12px rgba(20, 184, 166, 0.7);
}